<div ng-controller="OptionCtrl" ng-init="initOptions('<%= @question[:options] %>','<%= @question[:answer] %>','<%= @question[:qtype] %>','<%= @question[:image] %>')">

<%= form_for(@question, :html =>{:'ng-submit'=>"validateForm($event)"}) do |f| %>
  

  <div class="row">
    <div class="col-sm-6">
      <div class="field">
          <label for="question_question">Question</label>
          <textarea class="form-control" name="question[question]" id="question_question"><%= @question.question %>
          </textarea>

          <p class="text text-danger"><%if !@question.nil? && !@question.errors.messages.nil?  && !@question.errors.messages[:question].nil?%>
           Question <%= @question.errors.messages[:question][0] %>
        <% end %></p>

      </div><br>

      <div>
        <input type="checkbox" name="image" ng-model="image">
        <b>&nbsp;&nbsp;
          <% if @question[:image] == nil %>
            Check to add image (if any)
          <% else %>
            Uncheck  to remove image
          <% end %>
        </b>
        <span ng-if="image">
          <input type="checkbox" name="image" ng-model="image">
        </span>
      </div><br>

      

      <div class="field">
           <label for="question_qtype">Question type</label>
           <select ng-model="qtype" class="form-control" name="question[qtype]" id="question_qtype">
              <option value="mcq">Single Correct Answer Type</option>
              <option value="multi">Multiple Correct Answer Type</option>
              <option value="numerical">Numerical Answer Type</option>
            </select>
      </div><br>

      <div style="display:none">
        <label for="question_options">Options</label>
        <input type="text" name="question[options]" id="question_options" />
      </div>

      <div style="display:none">
       <label for="question_answer">Answer</label>
        <input type="text" name="question[answer]" id="question_answer" />
      </div>

      <div class="field">
          <label for="question_weightage">Weightage</label>
          <input class="form-control" type="number" name="question[weightage]" id="question_weightage"  value="<%= @question.weightage %>" />

          <p class="text text-danger"><%if !@question.nil? && !@question.errors.messages.nil?  && !@question.errors.messages[:weightage].nil?%>
           Weightage <%= @question.errors.messages[:weightage][0] %>
        <% end %></p>


      </div><br>

      <div class="field">
          <%= f.submit :class => "btn btn-primary" %>
      </div>
    </div>
    <div class="col-sm-6">
      <div ng-if="qtype != 'numerical'">
        <div class="field">
            <%= f.label :nooptions, "Total Options"%>
            <%= f.text_field :nooptions, :'ng-model' => "nooptions", :class => "form-control" %><br>
        </div>
        <div ng-repeat="n in [] | range:nooptions">
          <div class="field">
              <span ng-switch on="qtype">
                <span ng-switch-when="mcq"><input type="radio" name="ans" ng-value="{{$index+1}}" ng-model="checkAns[$index]"></span>
                <span ng-switch-when="multi"><input type="checkbox" name="ans{{$index+1}}" ng-true-value="{{$index+1}}" ng-false-value="0" ng-model="checkAns[$index]"></span>
              </span>
              <span>
                <label>Option{{$index+1}}</label>
                <input type="text" name="option{{$index+1}}" placeholder="Option{{$index+1}}" ng-model="optionVal[$index]" class="form-control"><br>
              </span>
          </div>
        </div>
      </div>
      <div ng-if="qtype == 'numerical'" class="field">
          <label>Answer</label>
          <input type="text" name="option1" placeholder="Answer" ng-model="optionVal[0]", class="form-control">
              <input value="1" type="hidden" name="question[nooptions]" id="question_nooptions" />
      </div><br>
    </div>
</div>

<% end %>

</div>