<%= link_to 'Edit', edit_question_path(@question), :method=> :post  %> |
<%= link_to 'Back', questions_path %>

<table class="table table-responsive table-bordered table-hover table-condensed">
  <tr>
    <th width="20%" >Question</th>
    <td><%= @question.question %></td>
  </tr>

  <tr>
    <th>Options</th>
    <td>
      <% optionHashArray = JSON.parse @question.options %>
      <% optionHashArray.each_with_index do |hash, index| %>
        <li><%= hash["opt"] %></li>
      <% end %>
    </td>
  </tr>

  <tr>
    <th>Answers</th>
    <td>
    <% optionHashArray = JSON.parse @question.answer %>
    <% optionHashArray.each_with_index do |hash, index| %>
      <li><%= hash["ans"] %></li>
    <% end %>
    </td>
  </tr>

  <tr>
    <th>Weightage</th>
    <td><%= @question.weightage %></td>
  </tr>

  <tr>
    <th>Question type</th>
    <td><%= @question.qtype %></td>
  </tr>

  <tr>
    <th>Question image</th>
    <% if @question[:image] != nil && @question[:image] != '' %>
      <td><%= image_tag @question[:image], :width => "300px" %></td>
    <% else %>
      <td><%= content_tag :b, "None" %></td>
    <% end %>
  </tr>

</table>
