<%= form_for(@user, url: {:action => "update"}, role: "form",class: "form-horizontal") do |f|  %>
  
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <input type="hidden" value="<%= @user.id%>" name="id">
      <div class="field">
        <%= f.label :First_Name %>
       <input type="text" value="<%= @user.first_name %>" name="first_name" class="form-control">
        <p class="text text-danger"><%if !@user.nil? && !@user.errors.messages.nil?  && !@user.errors.messages[:first_name].nil?%>

            First name <%= @user.errors.messages[:first_name][0] %>
        <% end %></p>
      </div><br>

      <div class="field">
        <%= f.label :Last_Name %>
          <input type="text" value="<%= @user.last_name %>" name="last_name" class="form-control">
         <p class="text text-danger"><%if !@user.nil? && !@user.errors.messages.nil?  && !@user.errors.messages[:last_name].nil?%>

           Last name <%= @user.errors.messages[:last_name][0] %>
        <% end %></p>
      </div><br>
    
    
      <div class="field">
        <%= f.label :Date_of_birth %>
        <input type="date" name="date_of_birth" class="form-control" value="<%= @user.date_of_birth%>">
         <p class="text text-danger"><%if !@user.nil? && !@user.errors.messages.nil?  && !@user.errors.messages[:date_of_birth].nil?%>
           Date of birth <%= @user.errors.messages[:date_of_birth][0] %>
        <% end %></p>
      </div><br>
     
      <div class="field">
        <%= f.label :Phone_number %>
        <input type="text" value="<%= @user.phone_no %>" name="phone_no" class="form-control">
         <p class="text text-danger"><%if !@user.nil? && !@user.errors.messages.nil?  && !@user.errors.messages[:phone_no].nil?%>
           Phone number  <%= @user.errors.messages[:phone_no][0] %>
        <% end %></p>
      </div><br>
     
          
      <div class="actions">
        <%= f.submit "Update", :class => "btn btn-success" %>
      </div>
    </div>
<% end %>