<center>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), role: "form",class: "form-horizontal") do |f|  %>
  <%= devise_error_messages! %>
  <table class="table-condensed table-striped"  >
  <tr>
  
  <div class="field form-group">
    <td>
    <%= f.label :Studentid %>
    <td>
    <%= f.text_field :student_id, autofocus: true %>
  </div>
  </tr>
  <tr >
   <div class="field form-group">
    <td  ><%= f.label :First_Name %>
    <td ><%= f.text_field :first_name %>
  </div>
  </tr>
  <tr>
  <div class="field form-group">
   <td><%= f.label :Last_Name %>
   <td><%= f.text_field :last_name %>
  </div>
   </tr>
   <tr>
  <div class="field form-group">
    <td><%= f.label :Date_of_birth %>
    <td><%= f.date_field :date_of_birth %>
  </div>
  </tr>
  <tr>	
  <div class="field form-group">
    <td><%= f.label :Phone_number %>
    <td><%= f.text_field :phone_no %>
  </div>
  </tr>
  <tr>	
  <div class="field form-group">
    <td><%= f.label :Degree %>
    <td><%= f.text_field :degree %>
  </div>
  </tr>
  <tr>
  <div class="field form-group">
    <td><%= f.label :Passing_year %>
    <td><%= f.text_field :passing_year %>
  </div>
  </tr>
  <tr>	
  <div class="field form-group">
    <td><%= f.label :email %>
    <td><%= f.email_field :email, autofocus: true %>
  </div>
  </tr>
  <tr>

  <div class="field form-group">
    <td><%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <td><%= f.password_field :password, autocomplete: "off" %>
  </div>
  </tr>
  <tr>
  <div class="field form-group">
    <td><%= f.label :password_confirmation %>
    <td><%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  </tr>
  
  <tr>
  <td/>	
  <div class="actions">
    <td><%= f.submit "Sign up" %>
  </div>
  </tr>
  </table>
<% end %>
</center>

