<table class="table table-responsive table-bordered table-hover table-condensed">
	<thead>
		<tr>
			<th>Exam Name</th>
			<th>College</th>
			<th>Date</th>
			<th>SWT</th>
			<th>EWT</th>
			<th>Duration(mins)</th>
			
			<th>Actions</th>
		</tr>
	</thead>
	<% @exams.each do |e| %>
		<% d = Date.parse(e.date.to_s) %>
		<% t1= Time.parse(e.end_window_time.to_s) %>
		<% t2 = Time.mktime(d.year, d.mon, d.mday, t1.hour, t1.min)%>
		<% if t2-Time.now < 0 %>

		<tr class="active">					
			<td>
				<%= content_tag "p", e.exam_name %>
			</td>
			<td>
				<%= content_tag "p", e.college_name %>
			</td>
			<td>
				<%= content_tag "p", e.date %>
			</td>
			<td>
				<%= content_tag "p", e.start_window_time.strftime("%R") %>
			</td>
			<td>
				<%= content_tag "p", e.end_window_time.strftime("%R") %>
			</td>
			<td>
				<%= content_tag "p", e.duration_mins %>
			</td>
			
			<td>	
				<%= link_to 'Edit ', edit_exam_path(e), :method=> :post %><span>|</span> 
				<%= link_to 'Delete ', exam_path(e), :method => :delete %><span>|</span> 
				<%= link_to 'View Questions ', "/exam_questions/"+e.id.to_s+"/view_exam_questions", :method => :post %><span>|</span> 
				<%= link_to 'View Result', "/exams/"+e.id.to_s+"/view_result", :method => :post %>

			</td>							
		</tr>
		<% end %>		
	<% end %>
</table>