<div ng-controller="printCtrl">
<% if !@exams.nil? %>
<div id="select_exam">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<form class="form-inline" method="post" action="{{'/exams/'+exam_id+'/view_result'}}"> 
				
				<div class="form-group">
					<select class="form-control" name="id" ng-model="exam_id"> 
						<option value='' hidden selected>Select Exam</option>
						<% for i in 0..@exams.length-1%>
						<option value="<%= @exams[i-1].id %>">
							<%= @exams[i-1].college_name+"  "+@exams[i-1].exam_name %>
						</option>
						<% end 	%>
					</select>
				
					<button type="submit" class ="btn btn-primary" ng-disabled="exam_id==null">View Result</button>
				</div>
			</form>
		</div>
	</div><br>
</div>

<%
	end
	if !@result.nil? 
		if  @result.length!=0
%>
			<div id="shortlist_criteria">
				<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-sm-6">
						<form class="form-inline" action="{{'/exams/'+<%= @id%>+'/view_result'}}" ng-controller="OptionCtrl" method ="post">
							<select class="form-control" name="criteria" ng-model="shortlist">
								<option value='' hidden selected>Select Shortlist Criteria</option>
								<option value="Marks">Marks</option>
								<option value="Ranks">Ranks</option>
							</select>

							<input class="form-control" type="text" name="number"  placeholder="{{shortlist}}">
							<button type="submit" class ="btn btn-primary" ng-disabled="shortlist == null">Show</button>
							<button type="button" class ="btn btn-primary" ng-click="printResult()" >Print</button>
							<input type="hidden" name="id" value="<%= @id%>">
						</form>
					</div>
				</div><br>
			</div>
				
			<div class="row">
				<div class="col-sm-3"></div>
				<div id="print" class="col-sm-6">
					<table class="table table-responsive table-bordered table-hover table-condensed">
						<caption><b> Results of <%= @exam_name%></b><br></caption>
						<thead>
							<tr>
								<th>ID</th>
								<th>Student Name</th>
								<th>Score</th>
							</tr>
						</thead>

					<%  for i in 0..@result.length-1
						user=@result[i].user
						%>
							<tr class="active">
								<td>
									<%= user.student_id%>
								</td>
								<td>
									<a href='/users/<%= user.id %>/view_profile'><%= user.first_name+"  "+ user.last_name %></a>
								</td>
								<td>
									<%= @result[i].score %>
								</td>
							</tr>
					<% end %>

					</table>
			<% else %>
				<%= "No Result Found"%>
			<% end %>
				</div>

<%end %>
</div>



