<center>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name) ,role: "form", class: "form-horizontal" ) do |f| %>
     <table class="table table-bordered">
      <thead>
        <tr class="info">
          <th colspan="2"><center>Log In</center></th>
        </tr>
      </thead>
      <tr>
      <div class="field">
        <td><%= f.label :email %><br />
        <td><%= f.email_field :email, autofocus: true, :class => "form-control" %>
      </div>
      </tr>
      <tr>
      <div class="field">
        <td><%= f.label :password %><br />
        <td><%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
      </div>
      </tr>
    </table>
    <div>
      <% if devise_mapping.rememberable? -%>
        <div class="col-sm-6">
          <%= f.check_box :remember_me %>&nbsp;<%= f.label :remember_me %>
        </div>
      <% end %>
        <div class="col-sm-6">
          <%= f.submit "Log in", :class => "btn btn-info" %>
        </div>
    </div>
    <% end %>
  </div>
</div>
</center>

