 <% if flash[:error] %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong><%= flash[:error] %></strong>
    </div>
  <% end %>

  <div ng-controller = "QTypeCtrl">
  	<input type="button" value="hell testing" ng-click="postJson">
  </div>

<form class="form-inline" ng-controller="QTypeCtrl" ng-init ="initParam('<%= Socket.ip_address_list[1].ip_address %>'); initWeightages('<%= @exam[:no_weightages] %>','<%= @exam[:weightages] %>','<%= @exam[:no_questions_each_weightage] %>', <%= @selected_question_ids %>,'<%= @max_id %>');">

		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-2">
				<label>Total Distinct Weightages:</label>
			</div>
			<div class="col-sm-2">
				<input class="form-control" placeholder="Total distinct weightages" type="number" name="no_weightages" ng-model="no_weightages"/><br><br>
			</div>
		</div>

		<div class="row" ng-show="no_weightages != null && no_weightages > 0">
			<div class="col-sm-4"></div>
			<div class="col-sm-2"><label>Weightage</label></div>
			<div class="col-sm-2"><label>Number of Questions</label></div>
		</div>

		<div ng-repeat="n in [] | range:no_weightages">
			<div class="row">
				<div class="col-sm-4"></div>
				<div class="col-sm-2">
			        <input type="number" name="weightages{{$index+1}}" placeholder="weightage" ng-model="weightages[$index]" class="form-control">
			    </div>
			    <div class="col-sm-2">
			        <input type="number" name="no_questions_each_weightage{{$index+1}}" ng-model="no_questions_each_weightage[$index]" placeholder="Number of Questions " class="form-control">
			    </div>
		    </div>
		</div><br>
		
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-2">
				<label>Total marks: </label>
				{{calculate()}}<br><br>
			</div>
		</div>



	<table class="table table-striped">
		<thead>
			<tr class="">
				<th></th>
				<th width="70%">Question</th>
				<th>Weightage</th>
				<th></th>
			</tr>
		</thead>

		<% @questions.each_with_index do |q, index| %>
			<tr class="">	
				<td>			
				    <input type="checkbox"  name="<%=q.id%>" value="<%=q.id%>" ng-model="selectedq[<%= q.id-1 %>]" ng-true-value="<%=q.id%>" ng-false-value="false" >				    
				</td>
				<td>
					<%= content_tag "p", q.question %>
				</td>
				<td>
					<%= content_tag "p", q.weightage %>
				</td>
				<td>	
					<%= link_to 'Edit ', edit_question_path(q), :method=> :post, :class => 'btn btn-default btn-xs' %> 
					<%= link_to 'Show ', question_path(q), :class => 'btn btn-default btn-xs' %>
					<%= link_to 'Delete', question_path(q), :method => :delete, :class => 'btn btn-warning btn-xs' %>
				</td>


		<% end %>
	</table>
	<center><button ng-click="validate($event, <%= @e_id %> )" class="btn btn-success">Submit</button></center>
</form>


