<%= form_for(@exam) do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
        <%= f.label :exam_name %>
        <%= f.text_field :exam_name, :class => "form-control" %>
    </div><br>  
    
    <div class="row" >
        <%= f.label :date %>
        <%= f.date_field :date, :class => "form-control"%>
    </div><br>

    <div class="row" style="display: none;" >
        <%= f.label :time %>
        <%= f.time_field :time, :class => "form-control"%>
    </div>

    <div class="row">
        <%= f.label :duration_mins%>
        <%= f.number_field :duration_mins, :class => "form-control" %>
    </div><br>

    <div class="row" >
        <%= f.label :start_window_time, "Start Window Time" %>
        <%= f.time_field :start_window_time, :class => "form-control"%>
    </div><br>

    <div class="row" >
        <%= f.label :end_window_time, "End Window Time" %>
        <%= f.time_field :end_window_time, :class => "form-control"%>
    </div><br>

    <div class="row">
        <%= f.label :college_name %>
        <%= f.text_field :college_name, :class => "form-control" %>
    </div><br> 

    <div class="row">
        <%= f.submit :class => "btn btn-primary" %>
    </div>

<% end %>