<%= link_to 'Edit ', edit_exam_path(@exam), :method=> :post  %> <span>|</span>
<%= link_to 'Set Questions ',@exam.id.to_s+"/set_questions", :method=> :post%><span>|</span>
<%= link_to 'Back', exams_path %>

<table class="table table-responsive table-bordered table-hover table-condensed">
  <tr>
    <th width="20%">Exam</th>
    <td><%= @exam.exam_name %></td>
  </tr>


  <tr>
    <th>Duration(in mins)</th>
    <td><%= @exam.duration_mins %></td>
  </tr>

  <tr>
    <th>Exam Date</th>
    <td><%= @exam.date %></td>
  </tr>

  <tr>
    <th>Exam Start Window Time</th>
    <td><%= @exam[:start_window_time].strftime("%R") %></td>
  </tr>

  <tr>
    <th>Exam End Window Time</th>
    <td><%= @exam[:end_window_time].strftime("%R") %></td>
  </tr>
  
  <tr>
    <th>College Name</th>
    <td><%= @exam.college_name %></td>
  </tr>
</table>
